@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html{
    background-color: #370617;
    height: 100%;
    margin: 0;
}

p{
    color: #fff;
    font-family: 'Roboto', Arial;
}

#fullpage{
    display: flex;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.container {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.yellow-box {
    width: calc(50% - 20px);
    height: calc(33% - 10px);
    background-color: #F48C06;
    border-radius: 5px;
}

.yellow-box:first-child{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.yellow-box:nth-child(2){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.yellow-box:nth-child(3){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: stretch;
    text-align: center;
    
}
.yellow-box:nth-child(4){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.yellow-box:nth-child(5){
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    
}

.yellow-box:nth-child(6){
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.yellow-box:nth-child(6) .red-box:nth-child(2){
    flex-grow: 1;
 }

.yellow-box:nth-child(5) .red-box:last-child{
   align-self: flex-end;
}



.yellow-box:nth-child(4) .red-box{
    height: 120px;
}

.yellow-box:nth-child(3) .red-box:first-child, .yellow-box:nth-child(3) .red-box:last-child{
   height: 120px;
}


.red-box{
    width: 78px;
    height: 78px;
    background-color: #9D0208;
    border-radius: 5px;
    margin: 5px;
}

